__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

build/
dist/
*.egg-info/

verl/.pytest_cache/
verl/.ruff_cache/
verl/.mypy_cache/
vllm-ascend/.pytest_cache/
vllm-ascend/.ruff_cache/
vllm-ascend/.mypy_cache/

vllm-ascend/vllm_ascend/_version.py
